<hadardasim-user-form (userAddedEvent) = "addUser($event)">Add Users</hadardasim-user-form> <! ex 6 class>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group users">
        <li *ngFor = "let user of users" 
             [class.active]="currentUser == user"
             (click) = "select(user)"
             class="list-group-item">
             <hadardasim-user [user] = "user"
             (deleteEvent) = "deleteUser($event)"
             (cancelEvent) = "updateUser($event)"> </hadardasim-user> <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->

         <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>  
        </li>
    </ul>
</div>

