<h1>
  {{title}}
</h1>
<nav>  <! ex 6 class>
  <!--<a routerLink = "/users">Users</a>
  <a routerLink = "/posts">Posts</a>
  <a routerLink = "/products">Products</a>-->
  <a routerLink = "/movies">Movies List</a> |
  <a routerLink = "/movie-form">Add Movie</a>
</nav>
<router-outlet></router-outlet>

<!--        ex 6 class
<h3>
  Users:
</h3>
<p>
<hadardasim-users>Loading..</hadardasim-users>
</p>
<h3>
  Posts:
</h3>
<p>
<hadardasim-posts>Loading...</hadardasim-posts>
</p>
<p>
<hadardasim-demo>Loading....</hadardasim-demo>
</p>
-->