<hadardasim-spinner [visible] = "isLoading"></hadardasim-spinner>
<div>
  <ul class="list-group movies">
    <li *ngFor = 'let movie of movies' 
         [class.active]="currentMovie == movie" 
         (click) = "select(movie)"
         class="list-group-item">
         <hadardasim-movie [movie] = "movie"
         (deleteEvent) = "deleteMovie($event)"
         (cancelEvent) = "updateMovie($event)"> </hadardasim-movie> <!--for ex 5 -->  <!-- it was
         (cancelEvent) = "cancel($event)" before ex 7 now its updatePost-->

       <!--  <ul>             <!-- use this ul for join. another file changed is posts.service.ts -->
       <!--   <li *ngFor = "let name of post.userNames">
            {{(name | async)?.name}}
          </li>
        </ul> -->

    </li>
  </ul>
</div>