<h2>Add Movie</h2>  <!all this component is for ex 6>
<form (ngSubmit) = "onSubmitMovie(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Movie Name</label>
    <input type="text" maxlength="50"
            class="form-control"
            id="name"
            name = "name"
            required   
            [(ngModel)] = "movie.name">
            please fill movie name
  </div>

<div class="form-group">
    <label for="rating">Rating</label>
<select name="rating" required [(ngModel)] = "movie.type">
  <option value="comedy"> Rate the movie:</option>
  <option value="1"> 1</option>
  <option value="2"> 2</option>
  <option value="3" selected> 3</option>
  <option value="4"> 4</option>
   <option value="5"> 5</option>
</select>
</div>

<div class="form-group">
    <label for="type">Type</label>
<select name="types" required [(ngModel)] = "movie.type">
  <option value="comedy"> Choose movie type:</option>
  <option value="comedy"> Comedy</option>
  <option value="drama"> Drama</option>
  <option value="action"> Action</option>
  <option value="film noir"> Film Noir</option>
</select>
            please choose movie type
</div>

  <button type="submit" class="btn btn-primary" >Save Movie</button>
</form>
