<span><font color=blue>Movie Name:</font> {{movie.name}} <br>
<font color=blue> Rating: </font>{{movie.rating}} <br>
<font color=blue> Type: </font>{{movie.type}} <br>
</span> <! first it was 'Content' and i changed it to 'Body' to feet the server data>
<!--<font color=blue> Author: </font>{{post.author}} --> 
<span *ngIf = "isEdit">
    Movie Name: <input type = "text" [(ngModel)] = "movie.name" > 
    Rating: <input type = "text" [(ngModel)] = "movie.rating" > 
    Movie type: <input type = "text" [(ngModel)] = "movie.type" > 
</span>
<button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->
